{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
	<style>
	</style>
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />

<style>
	#sortable1 { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
	#sortable1 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }
</style>

<style>
		body {font-family: Arial, Helvetica, sans-serif;}
		/* The Modal (background) */
		.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}
		
		/* Modal Content */
		.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		border: 1px solid #888;
		width: 50%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
		}
		
		/* Add Animation */
		@-webkit-keyframes animatetop {
		from {top:-300px; opacity:0} 
		to {top:0; opacity:1}
		}
		
		@keyframes animatetop {
		from {top:-300px; opacity:0}
		to {top:0; opacity:1}
		}
		
		/* The Close Button */
		.close {
		color: white;
		float: right;
		font-size: 28px;
		font-weight: bold;
		}
		
		.close:hover,
		.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
		}
		
		.modal-header {
		padding: 2px 16px;
		background-color: #BDB5D5;
		color: white;
		}
		
		.modal-body {padding: 2px 16px;}
		
		.modal-footer {
		padding: 2px 16px;
		background-color: #BDB5D5;
		color: white;
		}
	</style>

	<main class="content">



		<div class="container-fluid p-0">

			<div class="row mb-2 mb-xl-3">
				<div class="col-auto d-none d-sm-block">
					<h3><strong>Twitch Sentiment Analytics</strong> Dashboard</h3>
									<!-- <label for="cars">Choose a streamer:</label>
									<select id="streamer_choose" style="width:150px;">
										<option value="" selected>Select streamer</option>
										<option value="xQcOW">xQcOW</option>
										<option value="Summit1G">Summit1G</option>
										<option value="Shroud">Shroud</option>
										<option value="lirik">lirik</option>
									</select>
									<label for="cars"></label>
									<label for="cars"></label>
									<label for="cars"></label>
									<label for="cars">Choose a date:</label>
									<select id="streamer_date" style="width:150px;">
										<option value="" selected>Select date</option>
										<option value="07-26-2022">Jul 26, 2022</option>
										<option value="07-25-2022">Jul 25, 2022</option>
										<option value="07-24-2022">Jul 24, 2022</option>
										<option value="07-23-2022">Jul 23, 2022</option>
										<option value="07-22-2022">Jul 22, 2022</option>
										<option value="07-21-2022">Jul 21, 2022</option>
										<option value="07-20-2022">Jul 20, 2022</option>
										<option value="07-19-2022">Jul 19, 2022</option>
										<option value="07-18-2022">Jul 18, 2022</option>
										<option value="2022-07-30">Jul 30, 2022</option>
									</select>
									<label for="cars"></label>
									<label for="cars"></label>
									<label for="cars"></label>
									<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
										<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
										<label class="btn btn-outline-primary" for="btnradio1">Live</label>

										<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
										<label class="btn btn-outline-primary" for="btnradio2">Recorded</label>
									</div>
									<label for="cars"></label>
									<label for="cars"></label>
									<label for="cars"></label>
									<button type="button" id="submitBtn" class="btn btn-primary">Refresh</button> -->

									<div class="col-sm-12">
										<div class="card">
											<table style="border:1px solid black;margin-left:auto;margin-right:auto;border-spacing:33px;border-collapse:separate;">
												<tr>
												<td>
														<label>Choose streamer</label>
														<select id="streamer_choose" style="width:150px;">
															<option value="" selected>Select streamer</option>
															<option value="xQcOW">xQcOW</option>
															<option value="Summit1G">Summit1G</option>
															<option value="Shroud">Shroud</option>
															<option value="lirik">lirik</option>
														</select>
													</td>
												<td>
													<label>Choose stream date</label>
														<select id="streamer_date" style="width:150px;">
															<option value="" selected>Select date</option>
															<option value="07-26-2022">Jul 26, 2022</option>
															<option value="07-25-2022">Jul 25, 2022</option>
															<option value="07-24-2022">Jul 24, 2022</option>
															<option value="07-23-2022">Jul 23, 2022</option>
															<option value="07-22-2022">Jul 22, 2022</option>
															<option value="07-21-2022">Jul 21, 2022</option>
															<option value="07-20-2022">Jul 20, 2022</option>
															<option value="07-19-2022">Jul 19, 2022</option>
															<option value="2022-07-30">Jul 30, 2022</option>
														</select>											
												</td>
												<td>	
														<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
															<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
															<label class="btn btn-outline-primary" for="btnradio2">Recorded</label>

															<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
															<label class="btn btn-outline-primary" for="btnradio1">Live (Beta!)</label>

															<!-- The Modal -->
															<div id="myModal" class="modal">
																<!-- Modal content -->
																<div class="modal-content">
																	<div class="modal-header">
																		<span class="close">&times;</span>
																		<h5>&nbsp;&nbsp;&nbsp;&nbsp;</h5>
																	</div>
																	<div class="modal-body">
																		<h3>
																			<p>Welcome to the live section of the Twitch recommendation engine!</p>
																			<p>This is still a work in progress and only a beta version for your review.</p>
																			<p>Check back later for more!</p>
																		</h3>
																	</div>
																	<div class="modal-footer">
																		<h3>&nbsp;&nbsp;&nbsp;&nbsp;</h3>
																	</div>
																</div>
															</div>															
															  
															  

														</div>
													</td>
												<td>
													<button type="button" id="submitBtn" class="btn btn-primary">Refresh</button>
												</td>
												</tr>
											</table>
										</div>
									</div>


					<!-- <div class="container">
						<div class="row">
							<div class="col-sm-5 col-md-6" class="p-3 border bg-light">
								<div class="select">
									<label for="cars">Choose a streamer:</label>
										<select id="streamer_choose" style="width:200px;">
											<option value="" selected>Select</option>
											<option value="xQcOW">xQcOW</option>
											<option value="Summit1G">Summit1G</option>
											<option value="Shroud">Shroud</option>
									</select>
								</div>
							</div>
							<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0" class="p-3 border bg-light">
								<div>
									<input class="historic_or_live_feed" type="checkbox" name="historic_or_live_feed" value="1" onchange="valueChanged()"/>

									<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
										<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
										<label class="btn btn-outline-primary" for="btnradio1">Live</label>

										<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
										<label class="btn btn-outline-primary" for="btnradio2">Recorded</label>
									  </div>
								</div>
							</div>
						</div>
					</div>	 -->
				
				</div>
				<!-- <div class="col-auto ml-auto text-right mt-n1">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
							<li class="breadcrumb-item"><a href="#">AdminKit</a></li>
							<li class="breadcrumb-item"><a href="#">Dashboards</a></li>
							<li class="breadcrumb-item active" aria-current="page">Analytics</li>
						</ol>
					</nav>
				</div> -->
				<div class="row">
					<div class="col-xl-6 col-xxl-5 d-flex">
						<div class="w-100">
							<div class="row">
								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<!-- <h5 class="card-title mb-4">Livestreamed minutes (in '000s)</h5> -->
											<h3>Average Sentiment</h3>
											<h1 class="mt-1 mb-3"><div id='avg_sentiment'></div></h1>
											<div class="mb-1">
												<span class="text-muted"> <i class="mdi mdi-arrow-bottom-right"></i> <div id='chat_percentages'></div></span>
										</div>
										</div>
									</div>
									<div class="card">
										<div class="card-body">
											<h3>Average Viewers</h3>
											<h1 class="mt-1 mb-3"><div id='average_viewers'></div></h1>
										</div>
									</div>		
									<div class="card">
										<div class="card-body">
											<h3>Average Chatters</h3>
											<h1 class="mt-1 mb-3"><div id='visitor_count'></div> <div id='avg_chatters'></div></h1>
												<div class="mb-1">
												<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> <div id='streamer_visitors'></div></span>
												<!-- <span class="text-muted">Since last week</span> -->
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<h3>Total Messages</h3>
											<h1 class="mt-1 mb-3"><div id='total_messages'></div></h1>
											<!-- <div class="mb-1">
												<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> <div id='streamer_visitors_earnings_perc'></div></span>
												<span class="text-muted">Since last week</span>
											</div> -->
										</div>
									</div>
									<div class="card">
										<div class="card-body">
											<h3>Change in Followers</h3>
											<h1 class="mt-1 mb-3"><div id='followers_change'></div></h1>
											<div class="mb-1">
												<span class="text-muted">Pct Change: <class="text-muted"> <i class="mdi mdi-arrow-bottom-right"></i><div id='pct_follower_change'></div></span>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-body">
											<h3>Change in Subscribers</h3>
											<h1 class="mt-1 mb-3"><div id='subscriber_change'></div></h1>
											<div class="mb-1">
													<span class="text-muted">Pct Change: <class="text-muted"> <i class="mt-1 mb-3"></i><div id='pct_subscriber_change'></div></span>
											</div>
										</div>
									</div>								
								</div>
								<!-- temporary card to show emotions -->
								<div class="card flex-fill">
									<div class="card-header">
										<h3>Stream Chats</h3>
									</div>
									<div class="card-body d-flex">
										<div id='read_random_sentiments'></div>
									</div>
								</div>
								<!-- temporary card to show emotions -->
								<!-- card to show recommendation of channel -->
								<div class="card flex-fill">
									<div class="card-header">
										<h3>Stream Category Performance</h3>
									</div>
									<div class="card-header" id="sortable_ul">
										<ul id="sortable1" class="connectedSortable">
											<li class="ui-state-default" id="subscriber_change">Subscribers</li>
											<li class="ui-state-default" id="followers_change">Followers</li>
											<li class="ui-state-default" id="average_sentiment">Sentiment</li>
										  </ul>
										   <!-- <input type="submit" class="btn btn-primary" value="Submit" onclick="submit()"> -->
										   <button type="button" id="recEngineBtn" class="btn btn-primary">Refresh</button>
									</div>
									<!-- <div class="card-body d-flex"> -->
									<div width="100%">	
										<div id='rec_engine_output_table'></div>
									</div>
								</div>
								<!-- card to show recommendation of channel -->
							</div>
						</div>
					</div>

				<!-- <div class="col-xl-6 col-xxl-7">
					<div class="card flex-fill w-100">
						<div class="card-header">

							<h5 class="card-title mb-0">Recent Movement</h5>
						</div>
						<div class="card-body py-3">
							<div class="chart chart-sm">
								<canvas id="chartjs-dashboard-line"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div> -->




				<style>
					body {
							font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					}
					#chart {
						max-width: 800px;
						max-height: 700px;
					}
				</style>

				<style>
					.line {
						fill: none;
						stroke: rgb(0, 0, 0);
						stroke-width: 1.5px;
					}
				</style>
				<div class="col-xl-6 col-xxl-7" id="live_feed" style="display:none">
					<div class="card flex-fill w-100">
						<div class="card-header">
							<h5 class="card-title mb-0">Recent sentiments for our selected streams</h5>
						</div>
						<div class="card-body py-3">
							<div class="chart chart-sm">
								<script type="text/javascript">
									$(document).ready(function(){
									//   refreshTable();
									//   refresh_sentiments_using_d3();
									});
									
									function refreshTable(){
										$.ajax({
											url: "/refresh_sentiments",
											type: "get",
											data: "{}",
											success:
											function(data){
												// $('#links').text(result); //insert text of test.php into your div
												console.log('-----> ', data)
												refresh_sentiments_using_d3(data);
												setTimeout(function(){
													refreshTable(); //this will send request again and again;
												}, 5000);
											}
										});
									}
								</script>
								<!-- <canvas id="chartjs-dashboard-line"></canvas> -->
								<!-- <div id="chart"></div> -->
								<style>
									div.video-background {
										z-index: 99999;
									}
									div.video-background video {
										z-index: 1 !important;
									}
								</style>
								<div class="ratio ratio-16x9">
									<video controls width="800" height="600" loop autoplay>
										<source src={{ url_for('static', filename="supcaitlin_twitch_recording_2022-07-15.mp4") }} type="video/mp4">
										<source src={{ url_for('static', filename="supcaitlin_twitch_recording_2022-07-15 at 1.17.29 AM_2.mp4") }} type="video/mp4">
										<source src={{ url_for('static', filename="criticalrole_twitch_recording_2022-07-15 at 1.14.40 AM.mp4") }} type="video/mp4">
										Your browser does not support the video tag.
									</video>	
								</div>
								<svg width="800" height="200" id="svg1"></svg>
							</div>
						</div>
					</div>
				</div>
				

				<div class="col-xl-6 col-xxl-7" id="historic_feed" style="display:none">
					<div class="card flex-fill w-100">
						<!-- <div class="card-header"> -->
							<h3>Historic sentiments for our selected streams</h3>
						<!-- </div> -->
						<div class="card-body py-3">
							<!-- <style>
								div.video-background {
									z-index: 99999;
								}
								div.video-background video {
									z-index: 1 !important;
								}
							</style> -->
							<!-- <div class="ratio ratio-16x9"> -->
								<video controls width="100%" height="75%" loop autoplay>
									<!-- <source src={{ url_for('static', filename="supcaitlin_twitch_recording_2022-07-15.mp4") }} type="video/mp4">
									<source src={{ url_for('static', filename="supcaitlin_twitch_recording_2022-07-15 at 1.17.29 AM_2.mp4") }} type="video/mp4"> -->
									<!-- <source src={{ url_for('static', filename="criticalrole_twitch_recording_2022-07-15 at 1.14.40 AM.mp4") }} type="video/mp4"> -->
									<source src={{ url_for('static', filename="TwitchGif.mp4") }} type="video/mp4">
									Your browser does not support the video tag.
								</video>	
							<!-- </div> -->
							<div class="card-header">
								<h3>Detailed analysis of last 12 hours of livestream for the selected date</h3>
							</div>
							<object type="image/svg+xml" data={{ url_for('static', filename="legend.svg") }}></object>
							<div id="observablehq-chart-fbd47c6c"></div>
							<div id="observablehq-mystyle-fbd47c6c"></div>
							<div class="card-header">
								<h3>Sentiment scores for last 2 weeks of livestream </h3>
							</div>
							<!-- <div id="observablehq-chart-3319f4c3"></div> VB commenting this out since we need only 14 days worth of sentiments --> 
							<div id="observablehq-chart-f868c6c8"></div>
						</div>
					</div>
				</div>

			</div>


<!-- Commenting out Browser usage card -->
<!-- 			<div class="row">
				<div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
					<div class="card flex-fill w-100">
						<div class="card-header">

							<h5 class="card-title mb-0">Browser Usage</h5>
						</div>
						<div class="card-body d-flex">
							<div class="align-self-center w-100">
								<div class="py-3">
									<div class="chart chart-xs">
										<canvas id="chartjs-dashboard-pie"></canvas>
									</div>
								</div>

								<table class="table mb-0">
									<tbody>
										<tr>
											<td>Chrome</td>
											<td class="text-right">4306</td>
										</tr>
										<tr>
											<td>Firefox</td>
											<td class="text-right">3801</td>
										</tr>
										<tr>
											<td>IE</td>
											<td class="text-right">1689</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div> -->
<!-- Commenting out most active streams card -->
<!-- 				<div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
					<div class="card flex-fill w-100">
						<div class="card-header">

							<h5 class="card-title mb-0">Most active chatstreams around the world</h5>
						</div>
						<div class="card-body px-4">
							<div id="world_map" style="height:350px;"></div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
					<div class="card flex-fill">
						<div class="card-header">

							<h5 class="card-title mb-0">Calendar</h5>
						</div>
						<div class="card-body d-flex">
							<div class="align-self-center w-100">
								<div class="chart">
									<div id="datetimepicker-dashboard"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

<!-- 			<div class="row">
				<div class="col-12 col-lg-8 col-xxl-9 d-flex">
					<div class="card flex-fill">
						<div class="card-header">

							<h5 class="card-title mb-0">Latest Twitch streams</h5>
						</div>
						<table class="table table-hover my-0">
							<thead>
								<tr>
									<th>Name</th>
									<th class="d-none d-xl-table-cell">Start Date</th>
									<th class="d-none d-xl-table-cell">End Date</th>

									<th>Status</th>
									<th class="d-none d-md-table-cell">Assignee</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Project Apollo</td>
									<td class="d-none d-xl-table-cell">01/01/2020</td>
									<td class="d-none d-xl-table-cell">31/06/2020</td>
									<td><span class="badge bg-success">Done</span></td>
									<td class="d-none d-md-table-cell">Vanessa Tucker</td>
								</tr>
								<tr>
									<td>Project Fireball</td>
									<td class="d-none d-xl-table-cell">01/01/2020</td>
									<td class="d-none d-xl-table-cell">31/06/2020</td>
									<td><span class="badge bg-danger">Cancelled</span></td>
									<td class="d-none d-md-table-cell">William Harris</td>
								</tr>
								<tr>
									<td>Project Hades</td>
									<td class="d-none d-xl-table-cell">01/01/2020</td>
									<td class="d-none d-xl-table-cell">31/06/2020</td>
									<td><span class="badge bg-success">Done</span></td>
									<td class="d-none d-md-table-cell">Sharon Lessman</td>
								</tr>
								<tr>
									<td>Project Nitro</td>
									<td class="d-none d-xl-table-cell">01/01/2020</td>
									<td class="d-none d-xl-table-cell">31/06/2020</td>
									<td><span class="badge bg-warning">In progress</span></td>
									<td class="d-none d-md-table-cell">Vanessa Tucker</td>
								</tr>
								<tr>
									<td>Project Phoenix</td>
									<td class="d-none d-xl-table-cell">01/01/2020</td>
									<td class="d-none d-xl-table-cell">31/06/2020</td>
									<td><span class="badge bg-success">Done</span></td>
									<td class="d-none d-md-table-cell">William Harris</td>
								</tr>
								<tr>
									<td>Project X</td>
									<td class="d-none d-xl-table-cell">01/01/2020</td>
									<td class="d-none d-xl-table-cell">31/06/2020</td>
									<td><span class="badge bg-success">Done</span></td>
									<td class="d-none d-md-table-cell">Sharon Lessman</td>
								</tr>
								<tr>
									<td>Project Romeo</td>
									<td class="d-none d-xl-table-cell">01/01/2020</td>
									<td class="d-none d-xl-table-cell">31/06/2020</td>
									<td><span class="badge bg-success">Done</span></td>
									<td class="d-none d-md-table-cell">Christina Mason</td>
								</tr>
								<tr>
									<td>Project Wombat</td>
									<td class="d-none d-xl-table-cell">01/01/2020</td>
									<td class="d-none d-xl-table-cell">31/06/2020</td>
									<td><span class="badge bg-warning">In progress</span></td>
									<td class="d-none d-md-table-cell">William Harris</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-12 col-lg-4 col-xxl-3 d-flex">
					<div class="card flex-fill w-100">
						<div class="card-header">

							<h5 class="card-title mb-0">Monthly Users</h5>
						</div>
						<div class="card-body d-flex w-100">
							<div class="align-self-center chart chart-lg">
								<canvas id="chartjs-dashboard-bar"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main> -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- 	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
			var gradient = ctx.createLinearGradient(0, 0, 0, 225);
			gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
			gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
			// Line chart
			new Chart(document.getElementById("chartjs-dashboard-line"), {
				type: "line",
				data: {
					labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
					datasets: [{
						label: "Sales ($)",
						fill: true,
						backgroundColor: gradient,
						borderColor: window.theme.primary,
						data: [
							3100,
							1562,
							1584,
							1892,
							1587,
							1923,
							2566,
							2448,
							2805,
							3438,
							2917,
							3327
						]
					}]
				},
				options: {
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					tooltips: {
						intersect: false
					},
					hover: {
						intersect: true
					},
					plugins: {
						filler: {
							propagate: false
						}
					},
					scales: {
						xAxes: [{
							reverse: true,
							gridLines: {
								color: "rgba(0,0,0,0.0)"
							}
						}],
						yAxes: [{
							ticks: {
								stepSize: 1000
							},
							display: true,
							borderDash: [3, 3],
							gridLines: {
								color: "rgba(0,0,0,0.0)"
							}
						}]
					}
				}
			});
		});
	</script> -->
<!-- 	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Pie chart
			new Chart(document.getElementById("chartjs-dashboard-pie"), {
				type: "pie",
				data: {
					labels: ["Chrome", "Firefox", "IE"],
					datasets: [{
						data: [4306, 3801, 1689],
						backgroundColor: [
							window.theme.primary,
							window.theme.warning,
							window.theme.danger
						],
						borderWidth: 5
					}]
				},
				options: {
					responsive: !window.MSInputMethodContext,
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					cutoutPercentage: 75
				}
			});
		});
	</script> -->
<!-- 	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Bar chart
			new Chart(document.getElementById("chartjs-dashboard-bar"), {
				type: "bar",
				data: {
					labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
					datasets: [{
						label: "This year",
						backgroundColor: window.theme.primary,
						borderColor: window.theme.primary,
						hoverBackgroundColor: window.theme.primary,
						hoverBorderColor: window.theme.primary,
						data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
						barPercentage: .75,
						categoryPercentage: .5
					}]
				},
				options: {
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					scales: {
						yAxes: [{
							gridLines: {
								display: false
							},
							stacked: false,
							ticks: {
								stepSize: 20
							}
						}],
						xAxes: [{
							stacked: false,
							gridLines: {
								color: "transparent"
							}
						}]
					}
				}
			});
		});
	</script> -->

	 <!-- map graph with coordinates highlighted -->
	<!-- <script>
		document.addEventListener("DOMContentLoaded", function() {
			var markers = [{
					coords: [31.230391, 121.473701],
					name: "Shanghai"
				},
				{
					coords: [28.704060, 77.102493],
					name: "New Delhi"
				},
				{
					coords: [6.524379, 3.379206],
					name: "Lagos"
				},
				{
					coords: [35.689487, 139.691711],
					name: "Tokyo"
				},
				{
					coords: [23.129110, 113.264381],
					name: "Guangzhou"
				},
				{
					coords: [40.7127837, -74.0059413],
					name: "New York"
				},
				{
					coords: [34.052235, -118.243683],
					name: "Los Angeles"
				},
				{
					coords: [41.878113, -87.629799],
					name: "Chicago"
				},
				{
					coords: [51.507351, -0.127758],
					name: "London"
				},
				{
					coords: [40.416775, -3.703790],
					name: "Madrid "
				}
			];
			var map = new JsVectorMap({
				map: "world",
				selector: "#world_map",
				zoomButtons: true,
				markers: markers,
				markerStyle: {
					initial: {
						r: 9,
						strokeWidth: 7,
						stokeOpacity: .4,
						fill: window.theme.primary
					},
					hover: {
						fill: window.theme.primary,
						stroke: window.theme.primary
					}
				}
			});
			window.addEventListener("resize", () => {
				map.updateSize();
			});
		});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,
				prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
				nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
			});
		});
	</script> -->

	<!-- # adds d3 graph for Twitch listener real time graph(right now random numbers) -->
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<!-- <script>
	function realTimeLineChart() {
		var margin = {top: 20, right: 20, bottom: 20, left: 20},
				width = 600,
				height = 400,
				duration = 500,
				color = d3.schemeCategory10;

		function chart(selection) {
			// Based on https://bl.ocks.org/mbostock/3884955
			selection.each(function(data) {
				data = ["x", "y", "z"].map(function(c) {
					return {
						label: c,
						values: data.map(function(d) {
							return {time: +d.time, value: d[c]};
						})
					};
				});

				var t = d3.transition().duration(duration).ease(d3.easeLinear),
						x = d3.scaleTime().rangeRound([0, width-margin.left-margin.right]),
						y = d3.scaleLinear().rangeRound([height-margin.top-margin.bottom, 0]),
						z = d3.scaleOrdinal(color);

				var xMin = d3.min(data, function(c) { return d3.min(c.values, function(d) { return d.time; })});
				var xMax = new Date(new Date(d3.max(data, function(c) {
					return d3.max(c.values, function(d) { return d.time; })
				})).getTime() - (duration*2));

				x.domain([xMin, xMax]);
				y.domain([
					d3.min(data, function(c) { return d3.min(c.values, function(d) { return d.value; })}),
					d3.max(data, function(c) { return d3.max(c.values, function(d) { return d.value; })})
				]);
				z.domain(data.map(function(c) { return c.label; }));

				var line = d3.line()
					.curve(d3.curveBasis)
					.x(function(d) { return x(d.time); })
					.y(function(d) { return y(d.value); });

				var svg = d3.select(this).selectAll("svg").data([data]);
				var gEnter = svg.enter().append("svg").append("g");
				gEnter.append("g").attr("class", "axis x");
				gEnter.append("g").attr("class", "axis y");
				gEnter.append("defs").append("clipPath")
						.attr("id", "clip")
					.append("rect")
						.attr("width", width-margin.left-margin.right)
						.attr("height", height-margin.top-margin.bottom);
				gEnter.append("g")
						.attr("class", "lines")
						.attr("clip-path", "url(#clip)")
					.selectAll(".data").data(data).enter()
						.append("path")
							.attr("class", "data");

				var legendEnter = gEnter.append("g")
					.attr("class", "legend")
					.attr("transform", "translate(" + (width-margin.right-margin.left-75) + ",25)");
				legendEnter.append("rect")
					.attr("width", 50)
					.attr("height", 75)
					.attr("fill", "#ffffff")
					.attr("fill-opacity", 0.7);
				legendEnter.selectAll("text")
					.data(data).enter()
					.append("text")
						.attr("y", function(d, i) { return (i*20) + 25; })
						.attr("x", 5)
						.attr("fill", function(d) { return z(d.label); });

				var svg = selection.select("svg");
				svg.attr('width', width).attr('height', height);
				var g = svg.select("g")
					.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

				g.select("g.axis.x")
					.attr("transform", "translate(0," + (height-margin.bottom-margin.top) + ")")
					.transition(t)
					.call(d3.axisBottom(x).ticks(5));
				g.select("g.axis.y")
					.transition(t)
					.attr("class", "axis y")
					.call(d3.axisLeft(y));

				g.select("defs clipPath rect")
					.transition(t)
					.attr("width", width-margin.left-margin.right)
					.attr("height", height-margin.top-margin.right);

				g.selectAll("g path.data")
					.data(data)
					.style("stroke", function(d) { return z(d.label); })
					.style("stroke-width", 1)
					.style("fill", "none")
					.transition()
					.duration(duration)
					.ease(d3.easeLinear)
					.on("start", tick);

				g.selectAll("g .legend text")
					.data(data)
					.text(function(d) {
						return d.label.toUpperCase() + ": " + d.values[d.values.length-1].value;
					});

				// For transitions https://bl.ocks.org/mbostock/1642874
				function tick() {
					d3.select(this)
						.attr("d", function(d) { return line(d.values); })
						.attr("transform", null);

					var xMinLess = new Date(new Date(xMin).getTime() - duration);
					d3.active(this)
							.attr("transform", "translate(" + x(xMinLess) + ",0)")
						.transition()
							.on("start", tick);
				}
			});
		}

		chart.margin = function(_) {
			if (!arguments.length) return margin;
			margin = _;
			return chart;
		};

		chart.width = function(_) {
			if (!arguments.length) return width;
			width = _;
			return chart;
		};

		chart.height = function(_) {
			if (!arguments.length) return height;
			height = _;
			return chart;
		};

		chart.color = function(_) {
			if (!arguments.length) return color;
			color = _;
			return chart;
		};

		chart.duration = function(_) {
			if (!arguments.length) return duration;
			duration = _;
			return chart;
		};

		return chart;
	}

	var lineArr = [];
	var MAX_LENGTH = 100;
	var duration = 500;
	var chart = realTimeLineChart();

	function randomNumberBounds(min, max) {
		return Math.floor(Math.random() * max) + min;
	}

	function seedData() {
		var now = new Date();
		for (var i = 0; i < MAX_LENGTH; ++i) {
			lineArr.push({
				time: new Date(now.getTime() - ((MAX_LENGTH - i) * duration)),
				x: randomNumberBounds(0, 5),
				y: randomNumberBounds(0, 2.5),
				z: randomNumberBounds(0, 10)
			});
		}
	}

	function updateData() {
		var now = new Date();

		var lineData = {
			time: now,
			x: randomNumberBounds(0, 5),
			y: randomNumberBounds(0, 2.5),
			z: randomNumberBounds(0, 10)
		};
		lineArr.push(lineData);

		if (lineArr.length > 30) {
			lineArr.shift();
		}
		d3.select("#chart").datum(lineArr).call(chart);
	}

	function resize() {
		if (d3.select("#chart svg").empty()) {
			return;
		}
		chart.width(+d3.select("#chart").style("width").replace(/(px)/g, ""));
		d3.select("#chart").call(chart);
	}

	document.addEventListener("DOMContentLoaded", function() {
		seedData();
		window.setInterval(updateData, 500);
		d3.select("#chart").datum(lineArr).call(chart);
		d3.select(window).on('resize', resize);
	});
	</script> -->

	
	<script>
		// https://bl.ocks.org/mbostock/1642874
		// and https://bl.ocks.org/mbostock/3884955
		var n = 40,
			random = d3.randomNormal(0, .115);
		var data = d3.range(n).map(random);
		
		var svg = d3.select("#svg1"),
			margin = {top: 20, right: 20, bottom: 20, left: 40},
			width = +svg.attr("width") - margin.left - margin.right,
			height = +svg.attr("height") - margin.top - margin.bottom,
			g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
		
		var x = d3.scaleLinear()
			.domain([0, n - 1])
			.range([0, width]);
		
		var y = d3.scaleLinear()
			.domain([-1, 1])
			.range([height, 0]);
		
		var line = d3.line()
			.x(function(d, i) { return x(i); })
			.y(function(d, i) { return y(d); });
		
		g.append("defs").append("clipPath")
			.attr("id", "clip")
		.append("rect")
			.attr("width", width)
			.attr("height", height);

		g.append("g")
			.attr("class", "axis axis--x")
			.attr("transform", "translate(0," + y(0) + ")")
			.call(d3.axisBottom(x))
			.append("line")
    		.attr("x1", "100%");
		
		g.append("g")
			.attr("class", "axis axis--y")
			.call(d3.axisLeft(y));
		
		g.append("g")
			.attr("clip-path", "url(#clip)")
		.append("path")
			.datum(data)
			.attr("class", "line")
		.transition()
			.duration(500)
			.ease(d3.easeLinear)
			.on("start", tick);

		function tick() {
				// Push a new data point onto the back.
				data.push(random());
				// data.push(data_point);
				
				// Redraw the line.
				d3.select(this)
					.attr("d", line)
					.attr("transform", null);
				
				// Slide it to the left.
				d3.active(this)
					.attr("transform", "translate(" + x(-1) + ",0)")
					.transition()
					.on("start", tick);
				
				// Pop the old data point off the front.
				data.shift();
			}



		////////////////////////////////////////////////////////////
		////////////////////// Set-up  /////////////////////////////
		////////////////////////////////////////////////////////////
		const margin_chart = {
		left: 80,
		right: 80,
		top: 30,
		bottom: 30
		};

		//Actual graph smaller than svg container 
		var width = $('#chart').width() - margin_chart.left - margin_chart.right;
		var height = $('#chart').height() - margin_chart.top - margin_chart.bottom;

		//yAxis
		const yDomain = [0, 70];
		const yTickValues = [0, 10, 20, 30, 40, 50, 60, 70];

		const TIME_INTERVAL = 1000;

		//xAxis domain-> 10 seconds 
		const originalTime1 = "1970-01-01T00:00:00",
		originalTime2 = "1970-01-01T00:00:10";

		var date1 = new Date(originalTime1).getTime(),
		date2 = new Date(originalTime2).getTime();

		////////////////////////////////////////////////////////////
		///////////////////////// SVG //////////////////////////////
		//////////////////////////////////////////////////////////// 

		const svg_chart = d3.select("#chart")
		.append("svg")
		.attr("width", width + margin_chart.left + margin_chart.right)
		.attr("height", height + margin_chart.top + margin_chart.bottom);

		const g_chart = svg_chart.append("g")
		.attr("transform", "translate(" + margin_chart.left + ", " + margin_chart.top + ")");

		////////////////////////////////////////////////////////////
		///////////////////// Axes & Scales ////////////////////////
		////////////////////////////////////////////////////////////

		var xAxisGroup = g_chart.append("g")
		.attr("class", "x-axis");

		// HACK: draw white rectangle over the fading axis
		g_chart.append('rect')
		.attr('fill', 'white')
		.attr('width', margin_chart.left)
		.attr('height', margin_chart.bottom)
		.attr('x', -margin_chart.left)
		.attr('y', height - margin_chart.bottom);

		var yAxisGroup = g_chart.append("g")
		.attr("class", "y-axis");

		//Dynamic
		var xScale = d3.scaleTime();

		//Fixed
		var yScale = d3.scaleLinear()
		.domain([yDomain[0], yDomain[1]])
		.range([height - margin_chart.bottom, 0]);

		const xAxis = d3.axisBottom(xScale)
		.ticks(d3.timeSecond.every(1))
		.tickSizeInner(15)
		.tickFormat(d3.timeFormat("%M:%S"));

		const yAxis = d3.axisLeft()
		.scale(yScale)
		.tickValues(yTickValues)
		.tickFormat(d3.format(".0f"));

		////////////////////////////////////////////////////////////
		/////////////////////// Function ///////////////////////////
		////////////////////////////////////////////////////////////

		function draw() {

		//Update xAxis scale
		xScale.domain([date1, date2])
			.range([0, width]);

		//Call axes
		xAxisGroup.attr("transform", "translate(0," + (height - margin_chart.bottom) + ")")
			.transition()
			.duration(1000)
			// See here for the change:
			.ease(d3.easeLinear)
			.call(xAxis);

		yAxisGroup.call(yAxis);

		date1 += TIME_INTERVAL;
		date2 += TIME_INTERVAL;

		};

		////////////////////////////////////////////////////////////
		///////////////////////// Main /////////////////////////////
		////////////////////////////////////////////////////////////
		$(document).ready(function() {
			setInterval(draw, 3000);
		});

		</script>
		<script>
			// $(document).ready(function() {
			// 	$('#streamer_choose').change(function(){
			// 		var selVal = $(this).val();
			// 		sessionStorage.setItem("SelItem", selVal);												  
			// 		console.log(selVal);
			// 		$.ajax({
			// 			url: "/recieve_streamer_visitors",
			// 			type: "get",
			// 			data: {streamer_choose_id: selVal},
			// 		success: function(response) {
			// 		$("#streamer_visitors").html(response);
			// 		},
			// 		error: function(xhr) {
			// 		//Do Something to handle error
			// 		}
			// 	});
			// 	});
			// });

			// $(document).ready(function() {
			// 	$('#streamer_choose').change(function(){
			// 		var selVal = $(this).val();
			// 		sessionStorage.setItem("SelItem", selVal);												  
			// 		$.ajax({
			// 			url: "/streamer_visitors_perc",
			// 			type: "get",
			// 			data: {streamer_choose_id: selVal},
			// 		success: function(response) {
			// 		$("#streamer_visitors_perc").html(response);
			// 		},
			// 		error: function(xhr) {
			// 		//Do Something to handle error
			// 		}
			// 	});
			// 	});
			// });
			// $(document).ready(function() {
			// 	$('#streamer_choose').change(function(){
			// 		var selVal = $(this).val();
			// 		sessionStorage.setItem("SelItem", selVal);												  
			// 		$.ajax({
			// 			url: "/streamer_visitors_earnings",
			// 			type: "get",
			// 			data: {streamer_choose_id: selVal},
			// 		success: function(response) {
			// 		$("#streamer_visitors_earnings").html(response);
			// 		},
			// 		error: function(xhr) {
			// 		//Do Something to handle error
			// 		}
			// 	});
			// 	});
			// });
			// $(document).ready(function() {
			// 	$('#streamer_choose').change(function(){
			// 		var selVal = $(this).val();
			// 		sessionStorage.setItem("SelItem", selVal);												  
			// 		$.ajax({
			// 			url: "/streamer_visitors_earnings_perc",
			// 			type: "get",
			// 			data: {streamer_choose_id: selVal},
			// 		success: function(response) {
			// 		$("#streamer_visitors_earnings").html(response);
			// 		},
			// 		error: function(xhr) {
			// 		//Do Something to handle error
			// 		}
			// 	});
			// 	});
			// });			
			// $(document).ready(function() {
			// 	$('#streamer_choose').change(function(){
			// 		var selVal = $(this).val();
			// 		sessionStorage.setItem("SelItem", selVal);												  
			// 		$.ajax({
			// 			url: "/livestreamed_min",
			// 			type: "get",
			// 			data: {streamer_choose_id: selVal},
			// 		success: function(response) {
			// 		$("#livestreamed_min").html(response);
			// 		},
			// 		error: function(xhr) {
			// 		//Do Something to handle error
			// 		}
			// 	});
			// 	});
			// });					
			// $(document).ready(function() {
			// 	$('#streamer_choose').change(function(){
			// 		var selVal = $(this).val();
			// 		console.log(selVal)
			// 		sessionStorage.setItem("SelItem", selVal);												  
			// 		$.ajax({
			// 			url: "/livestreamed_min_perc",
			// 			type: "get",
			// 			data: {streamer_choose_id: selVal},
			// 		success: function(response) {
			// 		$("#livestreamed_min_perc").html(response);
			// 		},
			// 		error: function(xhr) {
			// 		//Do Something to handle error
			// 		}
			// 	});
			// 	});
			// });		

			// $(document).ready(function() {
			// 	$('#streamer_choose').change(function(){
			// 		var selVal = $(this).val();
			// 		console.log(selVal)
			// 		sessionStorage.setItem("SelItem", selVal);												  
			// 		$.ajax({
			// 			url: "/streamer_chats_count",
			// 			type: "get",
			// 			data: {streamer_choose_id: selVal},
			// 		success: function(response) {
			// 		$("#streamer_chats_count").html(response);
			// 		},
			// 		error: function(xhr) {
			// 		//Do Something to handle error
			// 		}
			// 	});
			// 	});
			// });		
			
			// $(document).ready(function() {
			// 	$('#streamer_choose').change(function(){
			// 		var selVal = $(this).val();
			// 		console.log(selVal)
			// 		sessionStorage.setItem("SelItem", selVal);												  
			// 		$.ajax({
			// 			url: "/streamer_chats_perc",
			// 			type: "get",
			// 			data: {streamer_choose_id: selVal},
			// 		success: function(response) {
			// 		$("#streamer_chats_perc").html(response);
			// 		},
			// 		error: function(xhr) {
			// 		//Do Something to handle error
			// 		}
			// 	});
			// 	});
			// });

			$('#streamer_choose').change(function(){
				var selVal = $(this).val();
				console.log('Inside the continuous looping function', selVal)
				// if (selVal == ""){
						setInterval(function(){ 
						//code goes here that will be run every 5 seconds.    
						$.ajax({
								url: "/read_random_sentiments",
								type: "get",
								data: {},
								dataType:"JSON",
							success: function(response) {
								// console.log(response);
           						console.log(response[0].sentiment_display);
								console.log(response[0].prob_score);
								$("#read_random_sentiments").html(response[0].sentiment_display);
								data.push(response[0].prob_score);
								// $("#data").html(data[0].sentiment_display);
							},
							error: function(xhr) {
							//Do Something to handle error
							}
						});
					}, 3000);
				// }
			});

			// $(document).ready(function(){
			// 	//   refreshTable();
			// 	//   refresh_sentiments_using_d3();
			// 	read_random_sentiments();
			// });
			
			// function read_random_sentiments(){
			// 	$.ajax({
			// 		url: "/read_random_sentiments",
			// 		type: "get",
			// 		success:function(data){
			// 			$("#read_random_sentiments").html(response);
			// 			setTimeout(function(){
			// 				read_random_sentiments(); //this will send request again and again;
			// 			}, 5000);
			// 		}
			// 	});
			// }

			// function valueChanged(){
			// 	if($('.historic_or_live_feed').is(":checked")){
			// 		$("#live_feed").show();
			// 		$("#historic_feed").hide();
			// 	}else{
			// 		$("#live_feed").hide();
			// 		$("#historic_feed").show();
			// 	}
			// }
			// $(document).ready(valueChanged);

			$(document).ready(function () {
				$('#btnradio1').click(function () {
					// var e = document.getElementById("streamer_choose");
					// var strUser = e.value;
					// var text = e.options[e.selectedIndex].text;				
					// console.log('----> ', strUser)
					// console.log('----> ', text)

					// var eDate = document.getElementById("streamer_date");
					// var strDate = eDate.value;
					// var strDateText = eDate.options[eDate.selectedIndex].text;				
					// console.log('----> ', strDate)
					// console.log('----> ', strDateText)					

					// if ($(this).is(':checked')) {
					// 	$("#live_feed").show();
					// 	$("#historic_feed").hide();
					// }
				});

				$('#btnradio2').click(function () {
					// var e = document.getElementById("streamer_choose");
					// var strUser = e.value;
					// var text = e.options[e.selectedIndex].text;				
					// console.log('----> ', strUser)
					// console.log('----> ', text)

					// var eDate = document.getElementById("streamer_date");
					// var strDate = eDate.value;
					// var strDateText = eDate.options[eDate.selectedIndex].text;				
					// console.log('----> ', strDate)
					// console.log('----> ', strDateText)					

					// var radio_selected = document.getElementById("live_feed");
					// var radio_selected_val = radio_selected.value;
					// var radio_selected_text = radio_selected.options[radio_selected.selectedIndex].text;				
					// console.log('----> ', radio_selected_val)
					// console.log('----> ', radio_selected_text)	

					
					// if ($(this).is(':checked')) {
					// 		$("#live_feed").hide();
					// 		$("#historic_feed").show();

					// 		$.ajax({
					// 			url: "/streamer_chats_perc",
					// 			type: "get",
					// 			data: {streamer_choose_id: strDate},
					// 		success: function(response) {
					// 			$("#streamer_chats_perc").html(response);
					// 		},
					// 		error: function(xhr) {
					// 			//Do Something to handle error
					// 		}
					// 	});
					// }
				});
			});


			$(document).ready(function () {
				$("#sortable_ul").hide();

				$('#submitBtn').click(function () {
					var e = document.getElementById("streamer_choose");
					var strUser = e.value;
					var text = e.options[e.selectedIndex].text;				
					console.log('----> ', strUser)
					console.log('----> ', text)

					var eDate = document.getElementById("streamer_date");
					var strDate = eDate.value;
					var strDateText = eDate.options[eDate.selectedIndex].text;				
					console.log('----> ', strDate)
					console.log('----> ', strDateText)

					var radio_selected1 = document.getElementById("btnradio1");
					var radio_selected1_val = radio_selected1.value;
					console.log('radio_selected1_val ----> ', radio_selected1_val)

					var radio_selected2 = document.getElementById("btnradio2");
					var radio_selected2_val = radio_selected2.value;
					console.log('radio_selected2_val ----> ', radio_selected2_val)

					if (strUser=='' || strDate==''){
						alert('Select both streamer and date!');
						return;

					}

					if ($(radio_selected1).is(':checked')) {
							$("#live_feed").show();
							$("#historic_feed").hide();
							$("#sortable_ul").hide();

							$("#average_viewers").html("");
							$("#average_viewers").html('<p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;color:blue;">Not available in livestream</p>');

							$("#followers_change").html("");
							$("#followers_change").html('<p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;color:blue;">Not available in livestream</p>');

							$("#subscriber_change").html("");
							// $("#subscriber_change").html('<p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;color:blue;">Not available in livestream</p>');
							
							$("#avg_sentiment").html("");
							$("#avg_sentiment").html('<p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;color:blue;">Not available in livestream</p>');
							
							$("#avg_chatters").html("");
							$("#avg_chatters").html('<p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;color:blue;">Not available in livestream</p>');

							$("#total_messages").html("");
							$("#total_messages").html('<p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;color:blue;">Not available in livestream</p>');	

							$("#streamer_visitors_earnings").html("");
							$("#streamer_visitors_earnings").html('<p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;color:blue;">Not available in livestream</p>');	

							$("#streamer_visitors_earnings_perc").html("");
							// $("#streamer_visitors_earnings_perc").html('<p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;color:blue;">Not available in livestream</p>');	

							$("#rec_engine_output_table").html("");
							$("#rec_engine_output_table").html('<p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;color:blue;">Go to the recordings tab to access your recommended streams based your history</p>');	

							// call_streamer_func('/average_viewers', strUser, strDate, '#average_viewers');
							// call_streamer_func('/followers_change', strUser, strDate, '#followers_change');
							// call_streamer_func('/subscriber_change', strUser, strDate, '#subscriber_change');
							// call_streamer_func('/avg_sentiment', strUser, strDate, '#avg_sentiment');
							// call_streamer_func('/avg_chatters', strUser, strDate, '#avg_chatters');
							// call_streamer_func('/total_messages', strUser, strDate, '#total_messages');
							// call_streamer_func('/streamer_visitors_earnings', strUser, strDate, '#streamer_visitors_earnings');
							// call_streamer_func('/streamer_visitors_earnings_perc', strUser, strDate, '#streamer_visitors_earnings_perc');
							// call_streamer_func('/rec_engine_output_table', strUser, strDate, '#rec_engine_output_table');

							modal.style.display = "block"; // call modal here
					}					

					if ($(radio_selected2).is(':checked')) {
							$("#live_feed").hide();
							$("#historic_feed").show();
							$("#sortable_ul").show();
							

							call_streamer_func('/average_viewers', strUser, strDate, '#average_viewers');
							call_streamer_func('/followers_change', strUser, strDate, '#followers_change');
							call_streamer_func('/pct_follower_change', strUser, strDate, '#pct_follower_change');
							call_streamer_func('/subscriber_change', strUser, strDate, '#subscriber_change');
							call_streamer_func('/pct_subscriber_change', strUser, strDate, '#pct_subscriber_change');
							call_streamer_func('/avg_sentiment', strUser, strDate, '#avg_sentiment');
							call_streamer_func('/avg_chatters', strUser, strDate, '#avg_chatters');
							call_streamer_func('/total_messages', strUser, strDate, '#total_messages');
							call_streamer_func('/streamer_visitors_earnings', strUser, strDate, '#streamer_visitors_earnings');
							call_streamer_func('/streamer_visitors_earnings_perc', strUser, strDate, '#streamer_visitors_earnings_perc');
							call_streamer_func('/chat_percentages', strUser, strDate, '#chat_percentages');
							// call_streamer_func('/rec_engine_output_table', strUser, strDate, '#rec_engine_output_table');
							$("#rec_engine_output_table").html("");
					}
				});


				$('#recEngineBtn').click(function () {
					var idsInOrder = [];
					$("ul#sortable1 li").each(function() {  idsInOrder.push($(this).attr('id')) }); 
					var str_sorted_choices = idsInOrder.join();
					// alert(idsInOrder.join('\n'));
					// alert(str_sorted_choices);
					var e = document.getElementById("streamer_choose");
					var streamer_id = e.value;
					var eDate = document.getElementById("streamer_date");
					var streamer_date = eDate.value;
					$("#rec_engine_output_table").html("");
					$.ajax({
								url: '/rec_engine_output_table',
								type: "get",
								data: {streamer_choose_id: streamer_id, streamer_choose_dt: streamer_date, sorted_choices: str_sorted_choices},
							success: function(response) {
								$("#rec_engine_output_table").html(response);
							},
							error: function(xhr) {
								//Do Something to handle error
							}
						});						
				});

			});


			function call_streamer_func(api_url, streamer_id, streamer_date, div_to_refresh){
					console.log('inside streamer function');
					$(div_to_refresh).html("");
					$.ajax({
							url: api_url,
							type: "get",
							data: {streamer_choose_id: streamer_id, streamer_choose_dt: streamer_date},
						success: function(response) {
							$(div_to_refresh).html(response);
						},
						error: function(xhr) {
							//Do Something to handle error
						}
					});				
			}

		$(function() {
			$( "#sortable1" ).sortable({
			connectWith: ".connectedSortable"
			}).disableSelection();
		});

		</script>	
		

		<script type="module">
			import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
			import define from "https://api.observablehq.com/@vbeohar/experimentation-for-w210-capstone-twitch-sentiments-grap.js?v=3";
			new Runtime().module(define, name => {
			  if (name === "chart") return new Inspector(document.querySelector("#observablehq-chart-fbd47c6c"));
			  if (name === "mystyle") return new Inspector(document.querySelector("#observablehq-mystyle-fbd47c6c"));
			});
		</script>
		

		<!-- <script type="module">
		import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
		import define from "https://api.observablehq.com/@vbeohar/line-chart-tooltip.js?v=3";
		new Runtime().module(define, name => {
		if (name === "chart") return new Inspector(document.querySelector("#observablehq-chart-3319f4c3"));
		return ["focus"].includes(name);
		});
		</script> -->

		<script type="module">
		import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
		import define from "https://api.observablehq.com/@vbeohar/line-chart-tooltip-v2.js?v=3";
		new Runtime().module(define, name => {
		if (name === "chart") return new Inspector(document.querySelector("#observablehq-chart-f868c6c8"));
		return ["focus"].includes(name);
		});
		</script>		

		<script type="module">
		import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
		import define from "https://api.observablehq.com/@vbeohar/creating-legends-for-charts-forked-to-create-legend-for-my-w.js?v=3";
		new Runtime().module(define, Inspector.into("#observablehq-ed107dc9"));
		</script>
		<!-- <script src="/static/assets/js/modal_example_w3schools.js"></script> -->


		<script>
			// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2
			// Get the modal
			var modal = document.getElementById("myModal");

			// Get the button that opens the modal
			var btn = document.getElementById("btnradio1");

			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];

			// When the user clicks the button, open the modal 
			// VB --> I am commenting this piece since I dont want the modal to be called on any other button click, rather, when the refresh button is clicked
			// and some explicit set of conditions are fulfilled.
			// btn.onclick = function() {
			// 	modal.style.display = "block"; ---> so this will be called later
			// }

			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
				modal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
			}
		</script>
		
{% endblock javascripts %}
