{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">

			<h2 class="h3 mb-3"><font color="#9146ff" style="font-family:Tahoma, Veranda,sans-serif;" size="14" >Nostra's Purpose</font></h2>

			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="accordion" id="accordionExample">
						<div class="card">
							<div class="card-header" id="headingOne">
								<h5 class="card-title my-2">
									<h1 class="h3 mb-3">
										Problem
										</h1>
									</a>
								</h5>
							</div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">

									<p class="h3 mb-3"><font color="black" style="font-family:Tahoma, Veranda,sans-serif;" size="2">
									In 2021, Twitch had an average of 2.78 million concurrent viewers at any given time and made approximately 2.6 billion dollars in revenue mostly through ads. Clearly Twitch will continue to grow as new creators throw their hats into the ring and try to make it on the platform. But it can be hard for a newer, emerging creator to make their mark when competing with other larger channels, the largest of which will have dedicated teams and managers behind them to help them manage their content and audience. We want to level the playing field for those emerging creators.
									</font></p>
								</div>
							</div>
						</div>

			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="accordion" id="accordionExample">
						<div class="card">
							<div class="card-header" id="headingOne">
								<h5 class="card-title my-2">
									<h1 class="h3 mb-3"><font color="black" style="font-family: sans-serif;" size="3" >
										Mission
										</font></h1>
									</a>
								</h5>
							</div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
									<p class="h3 mb-3"><font color="black" style="font-family:Tahoma, Veranda,sans-serif;" size="2">
									Our mission at Nostra is to empower emerging creators to better understand their audience and impact of their content as well as help them make decisions on their content going forward.
									</font></p>
								</div>
							</div>
						</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
