{% extends "layouts/base.html" %}

{% block title %} UI Cards {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
	ul.nav {
	padding-left: 0px;
	background-color: white;
	text-align: center;
	}
	ul.nav > li {
	display: inline-block;
	padding: 10px 20px;
	}
	ul.nav > li:hover {
	/* background-color: #2779BF; */
	background-color: white;
	}
	ul.nav > li > a {
	/* color: white; */
	text-decoration: none;
	}


</style>

<style type="text/css">
	img{
		width:850px;
	}
</style>

<main class="content">

	<div class="container">
		<h1 class="h3 mb-3"><strong>Project Mission and Vision</h1>
		<div class="row row-cols-2">
		  <div class="col">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col mt-0">
							<h1 class="mt-1 mb-3">Problem</h1>
						</div>
					</div>
					<h4>
						<P>
							In 2021, Twitch had an average of 2.78 million concurrent viewers at any given time and made approximately 2.6 billion dollars in revenue mostly through ads. Clearly Twitch will continue to grow as new creators throw their hats into the ring and try to make it on the platform. 
						</P><BR>
						<P>
							But it can be hard for a newer, emerging creator to make their mark when competing with other larger channels, the largest of which will have dedicated teams and managers behind them to help them manage their content and audience. We want to level the playing field for those emerging creators.
						</P>
						<BR><BR><BR>
					</h4>
				</div>
			</div>
		  </div>
		  <div class="col">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col mt-0">
							<h1 class="mt-1 mb-3">Mission</h1>
						</div>
					</div>
					<h4>
						<P>
							Our mission at Makesense is to empower emerging creators to better understand their audience and impact of their content as well as help them make decisions on their content going forward.
						</P><BR>
						<P>
						</P><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>							
					</h4>
				</div>
			</div>			
		  </div>
		</div>
	</div>

</main>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
<!-- script to set display property -->

<!-- script to set display property
<script>
	// Function to increase image size
	function enlargeImg(img) {
		img.style.transform = "scale(1.5)";
		img.style.transition =
		  "transform 0.25s ease";
	}
</script> -->





{% block javascripts %}{% endblock javascripts %}
