{% extends "layouts/base.html" %}

{% block title %} UI Cards {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
	ul.nav {
	padding-left: 0px;
	background-color: white;
	text-align: center;
	}
	ul.nav > li {
	display: inline-block;
	padding: 10px 20px;
	}
	ul.nav > li:hover {
	/* background-color: #2779BF; */
	background-color: white;
	}
	ul.nav > li > a {
	/* color: white; */
	text-decoration: none;
	}


</style>

<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3"><strong>Our Team</h1>

		<div class="row">
			<div class="col-xl-6 col-xxl-5 d-flex">
				<div class="w-100">
					<div class="row">
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<!-- <h1 class="card-title"> --> 
												<h1 class="mt-1 mb-3">Alex Baude</h1>
										</div>
										<div class="col-auto">
											<div class="stat text-primary">
												<!-- <i class="align-middle" data-feather="truck">
												</i> -->
												<img class="rounded mr-2 mb-2" style="max-width: 50%;max-height: 50%;"src="/static/assets/img/alex.png">
												<a href="https://github.com/AlexandreBaude">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/head-silhouette-logo-17.png">
												</a>
												<a href="https://www.linkedin.com/in/alexandre-baude-ba148ab8/">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/Linkedin-Download-PNG.png">
												</a>
											</div>
										</div>
									</div>
									<h4>
										Alexandre Baude is a Data Engineer at ProcureAbility where he enables consultants to run RFx projects in an efficient manner. 
										Alex leverages his background in statistics, computer science, and economics to push the boundaries of process automation at his company. 
										He is currently wrapping up his Master's in Data Science at UC Berkeley, with a planned graduation in August 2022. Beyond his work, he is an avid gamer and world traveler where he is currently planning a six-week long backpacking trip around Ireland in the spring of 2023.
									</h4>
									<!-- <div class="mb-0">
										<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
										<span class="text-muted">Since last week</span>
									</div> -->
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<!-- <h1 class="card-title"> --> <h1 class="mt-1 mb-3">Gauri Ganjoo</h1>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<!-- <i class="align-middle" data-feather="truck">
												</i> -->
												<img class="rounded mr-2 mb-2" style="max-width: 50%;max-height: 50%;"src="/static/assets/img/gauri.png">
												<a href="https://github.com/gganjoo">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/head-silhouette-logo-17.png">
												</a>
												<a href="https://github.com/AlexandreBaude">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/Linkedin-Download-PNG.png">
												</a>												
											</div>
										</div>
									</div>
									<h4>
										Gauri Ganjoo is a Data Scientist who previously worked at a tech startup called X10Capital, where she worked as an analyst and programmer automating data processes. Gauri has been pursuing her Master’s in Data Science from UC Berkeley since January 2021 and is finishing in August 2022. She has a passion for telling stories through data. When Gauri is not looking at a computer screen, she enjoys doing the NYT crossword and sudoku puzzles. <br><br>&nbsp;
									</h4>
									<!-- <div class="mb-0">
										<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
										<span class="text-muted">Since last week</span>
									</div> -->
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<!-- <h1 class="card-title"> --> <h1 class="mt-1 mb-3">Vaibhav Beohar</h1>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<img class="rounded mr-2 mb-2" style="max-width: 50%;max-height: 50%;"src="/static/assets/img/vaibhav.png">												
												<a href="https://github.com/vbeohar">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/head-silhouette-logo-17.png">
												</a>
												<a href="https://www.linkedin.com/in/beohar/">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/Linkedin-Download-PNG.png">
												</a>												
											</div>
										</div>
									</div>
									<h4>
										Vaibhav Beohar is a Data Scientist at McKinsey & Company with a wide ranging exposure across industries and verticals - having worked as a Software Engineer and a Corporate Finance professional previously. Vaibhav's interests in data science 
										Alex leverages his background in statistics, computer science, and economics to push the boundaries of process automation at his company. 
										He is currently wrapping up his Master's in Data Science at UC Berkeley, with a planned graduation in August 2022. Beyond his work, he is an avid gamer and world traveler where he is currently planning a six-week long backpacking trip around Ireland in the spring of 2023.
									</h4>
									<!-- <div class="mb-0">
										<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
										<span class="text-muted">Since last week</span>
									</div> -->
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<!-- <h1 class="card-title"> --> <h1 class="mt-1 mb-3">Anders Simmeth</h1>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<img class="rounded mr-2 mb-2" style="max-width: 50%;max-height: 50%;"src="/static/assets/img/anders.png">
												<a href="https://github.com/asimmeth">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/head-silhouette-logo-17.png">
												</a>
												<a href="https://github.com/AlexandreBaude">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/Linkedin-Download-PNG.png">
												</a>												
											</div>
										</div>
									</div>
									<h4>
										Alexandre Baude is a Data Engineer at ProcureAbility where he enables consultants to run RFx projects in an efficient manner. 
										Alex leverages his background in statistics, computer science, and economics to push the boundaries of process automation at his company. 
										He is currently wrapping up his Master's in Data Science at UC Berkeley, with a planned graduation in August 2022. Beyond his work, he is an avid gamer and world traveler where he is currently planning a six-week long backpacking trip around Ireland in the spring of 2023.
									</h4>
									<!-- <div class="mb-0">
										<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
										<span class="text-muted">Since last week</span>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>

	</div>
</main>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
