{% extends "layouts/base.html" %}

{% block title %} UI Cards {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">

			<h1 class="h3 mb-3">Our Team</h1>

			<div class="row">
				<div class="col-12 col-lg-6">
						<div class="card">
							<div class="card-header" id="headingTwo">
								<h5 class="card-title my-2">
<!-- 									<a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne"> -->
										Alex Baude
<!-- 									</a> -->
								</h5>
							</div>

						</div>
						</div>

					<div class="card-body">
							<div class="text-center">
								<img class="rounded mr-2 mb-2" style="max-width: 50%;max-height: 50%;"src="/static/assets/img/alex.png">
							</div>
						</div>
					</div> 

					<div class="card-body">
									bio
								</div>
							</div>
						</div>
					
					</div>

						<div class="card">
							<div class="card-header" id="headingTwo">
								<h5 class="card-title my-2">
<!-- 									<a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne"> -->
										Vaibhav Beohar
<!-- 									</a> -->
								</h5>
							</div>

						</div>
						</div>

					<div class="card-body">
							<div class="text-center">
								<img class="rounded mr-2 mb-2" style="max-width: 50%;max-height: 50%;"src="/static/assets/img/vaibhav.png">
							</div>
						</div>
					</div> 

					<div class="card-body">
									bio
								</div>
							</div>
						</div>
					
					</div>


					<div class="card">
							<div class="card-header" id="headingTwo">
								<h5 class="card-title my-2">
										Anders Simmeth
								</h5>
							</div>

						</div>
						</div>

					<div class="card-body">
							<div class="text-center">
								<img class="rounded mr-2 mb-2" style="max-width: 50%;max-height: 50%;"src="/static/assets/img/anders.png">
							</div>
						</div>
					</div> 

					<div class="card-body">
									bio
								</div>
							</div>
						</div>
					
					</div>

										<div class="card">
							<div class="card-header" id="headingTwo">
								<h5 class="card-title my-2">
										Gauri Ganjoo
								</h5>
							</div>

						</div>
						</div>

					<div class="card-body">
							<div class="text-center">
								<img class="rounded mr-2 mb-2" style="max-width: 50%;max-height: 50%;"src="/static/assets/img/gauri.png">
							</div>
						</div>
					</div> 

					<div class="card-body">
									bio
								</div>
							</div>
						</div>
					
					</div>


	</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
